@import "shared/theme.scss";
@import "widgets/bar/init.scss";

window {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font";
    font-size: $fontSize;
    color: $fg0;
}

button {
    all: unset;
}
