@import "../../shared/theme.scss";

.bar {
    margin: $margin1 $margin1 0 $margin1;

    .module {
        margin: 0 $margin2 / 2;
        padding: $margin2 $margin1;
        background-color: $bg0;
        border-radius: 9999px;

        .percent {
            min-width: 2em;
        }

        &.system {
            .circular-progress {
                $size: 20px;

                font-size: 2px; // thickness
                min-width: $size;
                min-height: $size;
            }

            .icon {
                font-size: 0.6em;
                margin-left: -3px; // centering fix
            }

            .percent {
                margin-left: $margin2;
            }
        }
    }

    // box spacing does not work because of revealer
    .workspaces {
        .known:not(:first-child),
        .unknown {
            margin-left: $margin2;
        }
    }
}
