.control-panel {
    background-color: $bg0;
    margin: $margin0;
    padding: $margin0;
    border-radius: $margin0;
    min-width: 300px;

    .slider-setting {
        &:not(:first-child) {
            margin-top: $margin1;
        }

        .indicator {
            $size: 20px;

            font-size: $size;
            min-width: $size;
        }

        .indicator-details {
            min-width: 32px;
        }
    }

    scale {
        &,
        * {
            all: unset;
        }

        trough {
            margin: 0 $margin0;
            min-height: 10px;
            background-color: $bg1;

            highlight {
                background-color: $fg0;
            }

            &,
            highlight {
                border-radius: 9999px;
            }
        }

        slider {
            background-color: transparent;
        }
    }

    .button-setting-row {
        margin-top: $margin0;
    }

    .button-setting {
        background-color: $bg1;
        padding: $margin0;
        border-radius: $margin0;

        &:not(:first-child) {
            margin-left: $margin0;
        }

        .indicator {
            font-size: 30px;
            margin-bottom: $margin0;
        }
    }
}
