* {
    all: unset;
}

#window {
    background: black;
    border-radius: 10px;
    font-family: monospace;
}

#outer-box {
    padding: 20px;
}

#input {
    margin-bottom: 10px;
}

#input image {
   padding-right: 10px; 
}

#text {
    padding-left: 5px;
}

#text:selected {
    color: black;
}

#entry {
    padding: 2px 4px;
}

#entry:selected {
    background-color: white;
}

